/*look at Shay Howe website for formatting css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */

h1 {
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
    color: #ffe;
}

h2 {
    font-size: 26px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
}

h2.alt {
    color: white;
}

h3 {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
    color: black;
}

h3.alt {
    color: white;
}

a {
    font-size: 14px;
    font-family: Arial;
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #567;
}

p {
    font-size: 14px;
    font-family: Arial;
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: black;
}

p.alt {
    color: white;
}

p.alt-2 {
    color: #567;
}

span.type {
    color: #28d;
}
span.keyword {
    color: #890;
}
span.constant {
    color: #d38;
}
span.comment {
    color: #9aa;
}
span.string {
    color: #2a9;
}
span.code {
    color: #567;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1; /* Stay on top */
    top: 15px; 
    left: 0;
    background-color: #eed; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px;
}

/* The navigation menu links */
.sidenav a {
    padding: 16px 16px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    color: #567;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}


/* The navigation bar */
.navbar {
    z-index: 1;
    overflow: hidden;
    background-color: #899;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

.logo {
    height: 120px;
    width: 120px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.main-image {
    width: 70%;
    float: right;
    padding: 50px;
}

.footer {
/*    position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #899;
    background-color: #034;
    color: white;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Style page content */
.main {
    margin-left: 320px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.code-box {
    margin: 20px 0 0 0;
    width: 1080px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
    background-color: #ffe;
    border: 2px solid #aaa;
}

.container {
    width: 960px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.container-centered {
    width: 1080px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
}

.row {
    display: flex;
}

.row-alt {
    background-color: #899;
    display: flex;
}

.row-alt2 {
    background-color: #28d;
    display: flex;
}
.col-3-4 {
    flex: 75%;
    display: inline-block;
}
.col-1-4 {
    flex: 25%;
    display: inline-block;
    margin-left: 50px;
}
.col-1-3 {
    flex: 33%;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
.col-2-3 {
    flex: 66%;
    display: inline-block;
}
.col-1-2 {
    flex: 50%;
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
}

.aside {
    border-top: 2px solid lightgrey;
}

/* Style buttons */
.btn {
    background-color: white;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    width: 70%;
    text-align: left;
    border: 2px solid #899;
    color: #567;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #899;
    color: white;
}

/* Style buttons */
.btn-alt {
    background-color: #28d;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid white;
}

/* Darker background on mouse-over */
.btn-alt:hover {
    background-color: white;
    color: #567;
}

/* Style buttons */
.btn-alt2 {
    background-color: white;
    border: none;
    color: #567;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #899;
}

/* Darker background on mouse-over */
.btn-alt2:hover {
    background-color: #899;
    color: white;
}
