/*look at Shay Howe website for formatting css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
}

h2 {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
}


span.bl {
    color: blue;
}
span.gr {
    color: green;
}
span.re {
    color: brown; /*less harsh than red*/
}


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1; /* Stay on top */
    top: 15px; 
    left: 0;
    background-color: #ccc; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


/* The navigation bar */
.navbar {
    z-index: 1;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

.navbar .logo {
    float: left;
    padding: 16px 18px;
}

.navbar .logo img {
    height: 14px;
    width: 14px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.footer {
/*    position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

/* Style page content */
.main {
    margin-left: 320px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.code-box {
    margin: 20px 0 0 0;
    width: 1080px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
    background-color: #eed;
    border: 2px solid #aaa;
}

.container {
    margin: 0 0 0 40px;
    width: 1080px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 80px;
}

.row {
    padding-bottom: 0;
}

.col-3-4 {
    width: 70%;
    display: inline-block;
    margin-right: 20px;
}
.col-1-4 {
    width: 25%;
    display: inline-block;
    padding-left: 20px;
}
