/*look at Shay Howe website for formatting css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: rgb(0, 43, 54)
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  color: rgb(101, 123, 131);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 12px;
  font-weight: bold;
}
h2 {
  color: rgb(101, 123, 131);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 12px;
  font-weight: bold;
}

label {
  color: rgb(101, 123, 131);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 960px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
}

.grid {
  margin: 0 auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
}

.col-1-2 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
  padding-right: 0px;
}


input[type=checkbox] {
  height: 16px;
  width: 16px;
  appearance: none;
  background-color: rgb(88, 110, 117);
}

input[type=checkbox]:checked {
  content: '\2713';
}

#train_loss_cb:checked {
  background-color: #cb4b16;
}
#train_acc_cb:checked {
  background-color: #d33682;
}
#valid_loss_cb:checked {
  background-color: #6c71c4;
}
#valid_acc_cb:checked {
  background-color: #2aa198;
}

#plot {
  text-align: center;
}

#canvas {
  border: 3px solid rgb(88, 110, 117);
  border-radius: 1%;
}
