/*look at Shay Howe website for formatting css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: bold;
}

h1 {
  font-size: 22px;
  font-family: serif;
  padding-bottom: 8px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  font-family: serif;
  padding-bottom: 8px;
}

h3 {
  font-size: 16px;
  font-family: serif;
  padding-bottom: 6px;
}

h5 {
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
}

p {
  font-size: 14px;
  font-family: Calibri, Garamond, Helvetica, Arial, sans-serif;
}

li {
/*  list-style-type: disc;*/
}

.row {
  min-width: 960px;
  background: #fff;
  padding: 22px 0 22px 0;
}

.row-alt {
  min-width: 960px;
  background: #fff;
  padding: 22px 0 22px 0;
}

.narrow {
  margin: 10px auto;
  width: 660px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  text-align: justify;
}

.center {
  text-align: center;
}

.container {
  margin: 10px auto;
  width: 860px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  text-align: justify;
}

.grid {
  margin: 0 auto;
  width: 860px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
}

.col-1-4 {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
  padding-right: 0px;
}

.col-1-5 {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
  padding-right: 0px;
}
.col-4-5 {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
  padding-right: 0px;
}

.col-1-3 {
  width: 26%;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  margin: 10px 15px;
  border-top: 4px solid lightgray;
}

img {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
/*  height: 90%; this makes wkhtml not work*/
}

th, td {
  text-align: center;
  padding: 0 20px;
}

th, td {
  text-align: center;
  padding: 0 20px;
}
table{
  margin: 0 auto;
}

.table-categories {
  border-bottom: 1px solid black;
  font-weight: bold;
}
